#database
*.db
*.sqlite
*.sqlite3
store-data.db

#python chaching
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

#virtual Environments
venv/
.venv/
.env/
env/
.env
.env.local
.env.*.local
pycache/
*.py[cod]
*$py.class

#IDE files
.vscode/
.idea/
studie-test.txt

#DataBase
*.db

